@tailwind base;
@tailwind components;
@tailwind utilities;

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
*::-webkit-scrollbar{
  display: none;
}

@keyframes slideInFromRight {
  from {
      transform: translateX(100%);
  }
  to {
      transform: translateX(0);
  }
}

@keyframes slideOutToRight {
  from {
      transform: translateX(0);
  }
  to {
      transform: translateX(100%);
  }
}

.animate-slideIn {
    animation: slideInFromRight 0.5s ease-out forwards;
}

.animate-slideOut {
  animation: slideOutToRight 0.5s ease-out forwards;
}


.cart-initial {
  transform: translateX(100%);
}

.hide-scrollbar::-webkit-scrollbar {
  display: none; /* for Chrome, Safari, and Opera */
}

.star-rating {
  font-size: 24px;
  unicode-bidi: bidi-override;
  direction: rtl; /* Reverse direction for proper filling of stars */
}
.star-rating > span {
  display: inline-block;
  position: relative;
  width: 1.1em;
}
.star-rating > span:hover,
.star-rating > span:hover ~ span {
  color: transparent; /* Optional: Adds a hover effect to select rating */
}
.star-rating > span:before {
  content: "★";
  position: absolute;
  left: 0;
  color: gold;
}
