@tailwind base;
@tailwind components;
@tailwind utilities;

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@keyframes slideInFromRight {
  from {
      transform: translateX(100%);
  }
  to {
      transform: translateX(0);
  }
}

@keyframes slideOutToRight {
  from {
      transform: translateX(0);
  }
  to {
      transform: translateX(100%);
  }
}

.animate-slideIn {
    animation: slideInFromRight 0.5s ease-out forwards;
}

.animate-slideOut {
  animation: slideOutToRight 0.5s ease-out forwards;
}


.cart-initial {
  transform: translateX(100%);
}

